/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background: linear-gradient(to bottom, #010101, #231730);
    height: 100%;
    margin: 0;
    color: white;
}


.navbar,
.footer {
    background-color: #444444;
}


section {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.custom-img {
    border-radius: 10px;
}

section {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-purple {
    background-color: #6a0dad;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
}

.btn-purple:hover {
    background-color: #8a2be2;
    text-decoration: none;
}


.vlog-img {
    width: 100%;
    height: 150px;
    max-width: 200px;
    border-radius: 40%;
    margin: 0 auto;
}

.raw-story-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 15px;
    margin: 0 auto;
}


.social-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}

.form-label {
    font-weight: bold;
}

.about-title {
    font-family: 'Kalnia';
    font-size: 55px;
}

.photography-title {
    color: #FF8000 !important;
    font-family: 'Kalnia';
    font-weight: bold;
    font-size: 35px;
}

.videography-title {
    color: #FFFB04;
    font-family: 'Kalnia';
    font-weight: bold;
    font-size: 35px;
}

.left-section h2,
.right-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: yellow;
    ;
}

.highlighted-text {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.8;
}

.connect-text {
    font-family: 'Kalnia';
    font-size: 50px;
}

.natural-text {
    font-family: 'Kalnia';
    font-size: 45px;
}

/* Flexbox Adjustment */
.d-flex {
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem;
}

.image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.collab-images {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.center-image {
    display: block;
    margin: 20px auto;
}


@media (max-width: 991px) {
    .col-lg-6 {
        text-align: center;
    }

    img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .col-lg-6 p {
        max-width: 80%;
        margin: 0 auto;
    }

    .col-lg-4 {
        text-align: center;
    }

    .custom-img {
        max-width: 90%;
        margin-bottom: 15px;
    }

    .col-lg-4 p {
        max-width: 90%;
        margin: 0 auto;
    }

    .col-lg-4 img {
        width: 100%;
    }

    .d-lg-flex {
        flex-direction: column;
        gap: 2rem;
    }

}

@media (max-width: 767px) {

    .col-lg-4 {
        margin-bottom: 30px;
    }

    .row {
        text-align: center;
    }

    .col-lg-6 {
        text-align: center;
    }

    .order-lg-1 {
        order: 2;
    }

    .order-lg-2 {
        order: 1;
    }

    .social-icon {
        display: block;
        margin: 0 auto 10px;
    }

    .social-icon+p {
        text-align: center;
    }

    h2,
    p {
        text-align: center;
    }

    form {
        padding: 0 15px;
    }

}